<header id="top-header">
    <img src="/images/site/icon.png" alt="CSE Motors logo" width="90" height="90">
    <span class="siteName">
        <a href="/" title="Return to Home Page">CSE Motors</a>
    </span>
    <div id="tools">
        <%- tools %>
    </div>
</header>