/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*colors: https://coolors.co/f1e4e8-e2dcde-ceb1be-b97375-2d2d34 */

h1,h2,h3,h4,h5,h6{
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

body{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

#top-header{
  display: grid;
  grid-template-columns: 1fr .5fr;
  font-size: 1.2rem;
}
#top-header a{
  color: #2D2D34;
  text-decoration: none;
}
.siteName{
  font-size: 2rem;
  font-weight: 600;
  width: 200px;
}
#wrapper{
  background-color: #fff;
  padding: 1rem;
}
nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-inline-start: 0;
  padding-inline-start: 0;
  max-width: 100%;
}
nav ul li{
  flex: 1 1 100%;
}
nav ul li a{
  display: block;
  font-weight: 400;
  padding: .5rem;
  background-color: #2D2D34;
  color: #E2DCDE;
  text-decoration: none;
}
nav ul li a:hover{
  background-color: #E2DCDE; 
  color: #2D2D34;
}

.hero{
  position: relative;
}

.hero img{
  max-width: 100%;
  width: 100%;
  height: auto;
}

.call-action{
  background-color: rgba(226, 220, 222, 0.7);
  position: absolute;
  left: 0;
  top: 0.5rem;
  /* height: 400px; */
  width: 250px;
  padding: 1rem;
  font-weight: 500;
}
.call-action h2{
  margin: 0;
  font-size: 1.5rem;
}
.call-action p{
  margin-block: .3rem;
  font-size: 1.2rem;
}
.call-action button{
  background-color: #B97375;
  border: none;
  padding: .5rem;
  font-weight: 600;
}
.about{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.upgrades-container{
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  margin: 2rem auto;
}
.upgrades-container a{
  width: 48%;
  height: 110px;
  display: block;
  text-align: center;
  border: 2px solid #B97375;
  padding: .2rem;
  font-weight: 400;
}
.upgrades-container p{
  margin-top: .5rem;
}
.upgrades-container img{
  height: 65px;
  width: auto;
}
.upgrades-container p{
  margin-inline-end: 0;
}
.reviews ul{
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  font-weight: 400;
}

@media screen and (min-width: 500px) {
  body{
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat: repeat;
  }
  #wrapper{
    border: 5px solid #B97375;
    border-radius: 8px;
    margin: 1rem 0;
  }
  .hero{
    display: flex;
  }
  .hero img{
    height: auto;
    margin: 0 auto;
    width: 80%;
  }
  .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .upgrades-container a{
    width: 150px;
    height: 120px;
  }
  .upgrades-container{
    flex-direction: row;
  }
}