<!--Displaying providioned title or redirecting response to default index route-->
<%if (title) {%>
    <h1><%=title%></h1>
<%} else{
    res.redirect('/')
}%>

<!--Displaying messages (flash) in the view-->
<%- messages() %>

<!--Displaying JS messages-->
<div id="jsOutput">
</div>

<a href ="/inv/newclassification"><p>Add New Classification</p></a>

<a href="/inv/newvehicle"><p>Add New Vehicle</p></a>

<h2>Classification & Inventory Management</h2>

<div class="tab">
    <button class="tab" onclick="opentab('inventory')">Inventory</button>
    <button class="tab" onclick="opentab('classification')">Classification</button>
</div>

<div id="inventory" class="tabcontent">
    <h3>Inventory Management</h3>

    <p>Select a classification to manage</p>
    
    <%- classificationSelect %>
    
    <table id="inventoryDisplay"></table>
</div>

<div id="classification" class="tabcontent">
    <h3>Classification Management</h3>

    <%- classificationTable %>
</div>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>