<!--Displaying providioned title or redirecting response to default index route-->
<%if (title) {%>
    <h1><%=title%></h1>
<%} else{
    res.redirect('/')
}%>

<!--Displaying messages (flash) in the view-->
<%- messages() %>

<!--Displaying JS messages-->
<div id="jsOutput">
</div>
<section>
    <h2>Add Classification or Inventory</h2>
    <hr>
    <a class="button" href ="/inv/newclassification">Add New Classification</a>
    
    <a class="button" href="/inv/newvehicle">Add New Vehicle</a>
</section>

<section>
    <h2>Manage Classification & Inventory</h2>
    <hr>
    <div class="tab">
        <button class="button tab" onclick="opentab('inventory')">Manage Inventory</button>
        <button class="button tab" onclick="opentab('classification')">Manage Classification</button>
    </div>
    
    <section id="inventory" class="tabcontent">
        <h3>Inventory Management</h3>
        <hr>
    
        <p>Select a classification to manage</p>
        
        <%- classificationSelect %>
        
        <table id="inventoryDisplay"></table>
    </section>
    
    <section id="classification" class="tabcontent">
        <h3>Classification Management</h3>
        <hr>
        <%- classificationTable %>
    </section>
</section>



<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>