<!--Displaying providioned title or redirecting response to default index route-->
<%if (title) {%>
    <h1><%=title%></h1>
<%} else{
    res.redirect('/')
}%>

<!--Displaying any flash message-->
<%-messages() %>

<!--Displaying errors if any-->
<% if (errors){%>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <% if(error.msg != "Invalid value"){%>
                <li> <%=error.msg%> </li>
            <%}%>
        <% }) %>
    </ul>
<%}%>

<form action="/inv/newclassification" method="post">
    <p>Field is required and must be  characters only.</p>
    <label for="classification_name">Classification:*</label>
    <input  type="text" id="classification_name" name="classification_name" required title="input a new classification" pattern="[^\s]+" value="<%=locals.classification_name%>">
    <button type="submit">Add Classification</button>
</form>